* {
    font-family: 'Julius Sans One', sans-serif;
}

html,
body {
    height: 100%;
    margin: 0px;
    /* background: linear-gradient(180deg, rgba(42,153,102,0) 29%, rgba(59,93,128,1) 100%); */
    background: linear-gradient(180deg, rgba(42, 153, 102, 0) 0%, rgba(95, 133, 173, 1) 100%);
}

header {
    font-size: 100px;
    /* font-family: 'Darker Grotesque', sans-serif; */
    font-family: 'Biryani', sans-serif;
    font-family: 'Jaldi', sans-serif;
    color: #3b5d80;
    margin: 0px;
    height: 130px;
    /* font-family: 'Sulphur Point', sans-serif; */
}

section {
    display: flex;
    justify-content: flex-start;
    margin: 95px 200px;
    flex-direction: column;
    border-radius: 48px;
}

textarea {
    resize: none;
}

form.signup {
    margin-top: 16px;
}

form.login {
    margin-top: 16px;
}

.form_header {
    font-family: 'Jaldi', sans-serif;
    color: #3b5d80;
    margin-top: 25px;
}

.all_inputs_i {
    font-size: 16px;
    padding: 10px;
    width: 600px;
    border-radius: 15px;
    color: #3b5d80;
    border: 1px solid silver;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19);
}

.form_labels {
    margin: 10px 0px;
}

.all_buttons_b {
    /* font-size: 33px;  */
    font-size: 16px;
    padding: 10px;
    /* width: 85px; */
    border-radius: 15px;
    color: white;
    background-color: #3b5d80;
    border: 1px solid #3b5d80;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19);
}

.all_buttons_b:focus {
    outline: 0;
    /* background-color: white; */
}

.all_buttons_b:hover {
    /* outline:0; */
    /* background-color: #3b5d80; */
    background-color: #ddd;
    color: #3b5d80;
}

.fas {
    font-size: 80px;
}


/* Add a black background color to the top navigation */

.topnav {
    background-color: #3b5d80;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0px 0px 15px 15px;
}


/* Style the links inside the navigation bar */

.topnav {
    display: flex;
}


/* Change the color of links on hover */

.topnav .nav_links:hover {
    background-color: #ddd;
    /* color: black; */
    border-radius: 15px;
    color: #3b5d80;
    text-decoration: none;
}

#livdin_logo {
    height: 41px;
    margin: 15px 25px 15px 31px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 90px;
    width: 100%;
    background-color: #3b5d80;
    color: white;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}

.mapbox {
    position: relative;
}

.mapbox .overlay {
    position: absolute;
    top: 13px;
    left: 58px;
    z-index: 314159;
    pointer-events: none;
}

.mapbox .overlay .btn {
    pointer-events: initial;
}

.modal {
    z-index: 2;
}

#search_results {
    border: 1px silver solid;
    padding: 20px;
    border-radius: 15px;
    color: white;
    background-color: #3b5d80c7;
    margin-top: 20px;
    width: 598px;
    top: 52px;
    
}

.reviews_d {
    border: 1px silver solid;
    padding: 20px;
    border-radius: 15px;
    color: white;
    background-color: #3b5d80c7;
    margin-top: 20px;
}

#search_i {
    font-size: 16px;
    padding: 10px;
    width: 600px;
    border-radius: 15px;
    color: #3b5d80;
    border: 1px solid silver;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19);
}


#search_i_map {
    font-size: 16px;
    padding: 10px;
    width: 600px;
    border-radius: 15px;
    color: #3b5d80;
    border: 1px solid silver;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19);

}

#name_logo {
    display: flex;
}

#logo {
    height: 94px;
    margin: 6px 29px 0px 0px;
}

#profile_name_h {
    /* height: 179px; */
    /* font-family: 'Darker Grotesque', sans-serif; */
    font-family: 'Biryani', sans-serif;
    font-family: 'Jaldi', sans-serif;
    color: #3b5d80;
    margin: 0px;
    font-size: 75px;
    height: 100px;
}

#signup_or_login {
    display: flex;
    margin: 15px 0px;
}

#or_login_p {
    margin: 11px 8px;
}

#profile_container_d {
    display: flex;
    flex-direction: column;
    width: 80%;
    /* padding: 50px; */
    /* width: 50%; */
}

#profile_section_s {
    display: flex;
    /* flex-direction: column; */
    padding: 50px;
}

#profile_upper_section {
    display: flex;
    display: row;
}

#image_container_d {
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 34px; */
}

#search_b {
    font-size: 16px;
    padding: 10px;
    width: 85px;
    border-radius: 15px;
    color: white;
    background-color: #3b5d80;
    border: 1px solid #3b5d80;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19);
}

#search_b_map {
    font-size: 16px;
    padding: 10px;
    width: 85px;

    border-radius: 15px;
    color: white;
    background-color: #3b5d80;
    border: 1px solid #3b5d80;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19);
}

#search_b:hover {
    background-color: #f2f2f2;
    color: #3b5d80;
    text-decoration: none;
    border: 0px;
}



#search_b_map:hover {
    background-color: #f2f2f2;
    color: #3b5d80;
    text-decoration: none;
    border: 0px;
}


#joined_l, #home_town_l {

    margin: 20px 0px;
}

#description_p {
    font-size: 16px;
    color: #3b5d80;
    margin-top: 0px;
    margin-right: 10px;
    /* width: 50%; */
}

#search_i:focus {
    outline: 0;
}


#search_i_map:focus {
    outline:0;
}


#profile_section_s {
    background-color: white;
    height: 100%;
}


/* #search_section_e {
    
} */

#home_name {
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 63px;
}

#home_icon {
    font-size: 44px;
    color: white;
    text-align: center;
    margin: 15px;
}



#map_container {
    position: relative;
}


.nav_links {
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

#right_side_nav {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    margin: 15px;
}

#search_form_nav_f {
    display: flex;
    height: 50%;
    margin: 27px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #3b5d80;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #3b5d80;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #3b5d80;

}


#search_form_f_map {
    z-index: 1;
}


.mapbox {
    position:absolute;
    left: 0;
    top: 0;
    z-index:-1;
}

#search_box_input {
    position: absolute;
    left: 25px;
    top: 75px;
    z-index: 1;
}

#search_box_results {
    position: absolute;
    left: 25px;
    top: 116px;
    z-index: 1;
    overflow: scroll;
    width: 607px;
    overflow-y: auto;
    height: 100vh;
}

#map_container {
    position: relative;
    z-index: 0;

}