form.signup,
form.login {
    margin-top: 50px;
}

* {
  
    font-family: 'Julius Sans One', sans-serif;
}

html, body {
    height: 100%;
    margin: 0px;
    /* background: linear-gradient(180deg, rgba(42,153,102,0) 29%, rgba(59,93,128,1) 100%); */
    /* background: linear-gradient(180deg, rgba(42,153,102,0) 0%, rgba(95,133,173,1) 100%); */
  
}

header {
    font-size: 168px;
    /* font-family: 'Darker Grotesque', sans-serif; */
    font-family: 'Biryani', sans-serif;
    font-family: 'Jaldi', sans-serif;
    color: #3b5d80;
    margin: 0px;
    height: 233px;
    /* font-family: 'Sulphur Point', sans-serif; */
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 90px;
    width: 100%;
    background-color: #3b5d80;
    color: white;
    text-align: center;
    border-radius: 15px 15px 0px 0px;

}

section {
    display: flex;
    justify-content: flex-start;
    margin: 95px 262px;
    flex-direction: column;
    border-radius: 48px;
}

#reviews_d {
    border: 1px silver solid;
    padding: 20px;
    border-radius: 15px;
    color: white;
    background-color: #3b5d80c7;
    margin-top: 20px;
}

#search_i {
    font-size: 25px;
    padding: 10px;
    width: 600px;
    border-radius: 15px;
    color: #3b5d80;
    border: 1px solid silver;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19);

}

#profile_name_h {
    /* height: 179px; */
    /* font-family: 'Darker Grotesque', sans-serif; */
    font-family: 'Biryani', sans-serif;
    font-family: 'Jaldi', sans-serif;
    color: #3b5d80;
    margin: 0px;
}

#profile_container_d {
    display: flex;
    flex-direction: column;
    /* padding: 50px; */
    /* width: 50%; */
}

#profile_section_s {
    display: flex;
    /* flex-direction: column; */
    padding: 50px;
}

#profile_upper_section {
    display: flex;
    display: row;

}

#image_container_d {
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 34px; */
}


#search_b {
    /* font-size: 33px; */
    font-size: 25px;
    padding: 10px;
    width: 143px;
    border-radius: 15px;
    color: white;
    background-color: #3b5d80;
    border: 1px solid silver;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19);
}

#search_b:focus {
  outline:0;
  /* background-color: white; */
}

#search_b:hover {
    /* outline:0; */
    /* background-color: #3b5d80; */
    background-color: #ddd;
    color: #3b5d80;
}


#joined_l, #home_town_l {
    margin: 20px 0px;
}


#description_p {
    font-size: 16px;
    color: #3b5d80;
    margin-top: 0px;
    /* width: 50%; */
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #3b5d80;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #3b5d80;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #3b5d80;
}

#search_i:focus {outline:0;}

.fas {
    font-size: 80px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #3b5d80;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0px 0px 15px 15px;
}

/* Style the links inside the navigation bar */
.topnav {
    display: flex;  
}

/* Change the color of links on hover */
.topnav .nav_links:hover {
    background-color: #ddd;
    /* color: black; */
    border-radius: 15px;
    color: #3b5d80;
}

#profile_section_s {
    background-color: white;
    height: 100%;
}

/* #search_section_e {
    
} */


#home_name {
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 63px;
}


#home_icon {
    font-size: 50px;
    color: white;
    text-align: center;
    margin: 33px;
}

.nav_links {
    display: flex;
    flex-direction: horizontal;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;

}

#right_side_nav {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    margin: 30px;
  
}
#search_form_nav_f {
    display: flex;
    height: 50%;
    margin: 27px;
}
